<h1>Welcome <%= @user.name %></h1>
<%= link_to "Edit Profile", edit_user_path %>
<%= link_to "All Secrets", secrets_url %>

<form action ='/secrets' method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type='text' name = 'secret[content]'>
    <input type ='hidden' name= 'secret[user_id]' value = '<%= @user.id %>'>
    <input type='submit' value ='Create Secret'>
</form>



<% @user.secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <%= link_to "Delete", secret, :method => :delete %>
<% end %>

