<% for @secrets do |s| %>
    <p><%= s.content %></p>
    <p><%= s.likes.count %> likes</p>
    <form action ='/likes' method='post'>
        <input type ='hidden' name='authenticity_token' value= '<%= form_authenticity_token %>'>
        <input type='hidden' nmame='secret_id' value='<%=s.id%>'>
        <input type ='submit'value ='Like'>
    </form>
    <% if current_user == s.user %> 
        <%= link_to 'Delete', 'secrets/delete', method => 'delete' %>
    <% end %>
<% end %>