<% @secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <p><%= secret.users_liked.count %> likes</p>
    
    <% if secret.users_liked.include?(current_user) %>
        <form action ='/likes/<%= find_id(secret.likes, current_user.id) %>' method='post'>
            <input type ='hidden' name='authenticity_token' value= '<%= form_authenticity_token %>'>
            <input type ='hidden' name='_method' value='delete'>
            <input type ='submit' value ='Unlike'>
        </form>
    <% else %>
        <form action ='/likes/' method='post'>
        <input type ='hidden' name='authenticity_token' value= '<%= form_authenticity_token %>'>
        <input type='hidden' name='secret_id' value='<%=secret.id%>'>
        <input type ='submit' value ='Like'>
    </form>
    <% end %>
    <% if current_user == secret.user %> 
        <%= link_to "Delete", secret, method: :delete %>
    <% end %>
<% end %>